* {
  padding: 0;
}
body {
  background: #1c8f85;
  padding: 0;
}
footer {
  border: 1px solid slategray;
  position: fixed;
  bottom: 0px;
  left: 0;
  width: 100vw;
  padding: 0;
}
header {
  height: 5%;
  background: #120203;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header img {
  width: 20%;
  height: 20%;
}
.listpost {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  flex-wrap: wrap;
  padding: 8px;
  justify-content: space-evenly;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  border: 1px solid #000;
  padding: 4px;
  max-width: 600px;
}
.btn-new {
  padding: 4px;
  text-align: center;
  vertical-align: middle;
}
.newpost {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  margin-bottom: 20px;
}
.seenewpost {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid black;
}
.imgpost {
  max-width: 90px;
  max-height: 90px;
  margin-bottom: 4px;
}
.headName {
  color: white;
}
.heart {
  color: rgb(235, 20, 20);
}
i {
  cursor: pointer;
}
i:hover {
  color: red;
}
.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}
.subtitulo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 12px;
}
.navarCard {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.imgComent {
  border-radius: 39%;
  width: 30px;

  height: 30px;
}
.flex {
  display: flex;
  align-items: center;
  gap: 10px;
}
.flexcenter {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  color: rgba(255, 0, 0, 0.623);
}
